<?php

$quiz_app_dir = "";
$admin_name = "";
$admin_mail = "";
$ftp_dir = "";

$quiz_bin_dir = $quiz_app_dir."bin/";
$quiz_data_dir = $quiz_app_dir."quiz_data/";
$students_dir = $quiz_app_dir."students/";

?>
